@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(0, 0, 0);
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(255, 255, 255)
    )
    rgb(214, 219, 220);
  overflow-x: hidden;
  max-width: 100vw;
}

html {
  overflow-x: hidden;
  max-width: 100vw;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
